button.json
[{"id":"92532419.a3bd48","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9282fdde.3aaa8","type":"rpi-gpio out","z":"92532419.a3bd48","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":160,"wires":[]},{"id":"be78bffb.cfe9d","type":"switch","z":"92532419.a3bd48","name":"if in put is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":180,"wires":[["66116bc4.16c764"],["55d7b627.1fe198"]]},{"id":"66116bc4.16c764","type":"change","z":"92532419.a3bd48","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[["9282fdde.3aaa8"]]},{"id":"bd0a6e70.99bbb","type":"rpi-gpio in","z":"92532419.a3bd48","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":70,"y":180,"wires":[["be78bffb.cfe9d","6dc44f02.791cb"]]},{"id":"6dc44f02.791cb","type":"debug","z":"92532419.a3bd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":100,"wires":[]},{"id":"55d7b627.1fe198","type":"change","z":"92532419.a3bd48","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["9282fdde.3aaa8"]]}]