flows (1).json
[{"id":"d08c4caa.f34ac","type":"tab","label":"Flow ","disabled":false,"info":""},{"id":"89eff4d8.4d8ba8","type":"http in","z":"d08c4caa.f34ac","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":80,"wires":[["ffd4632b.5ede6"]]},{"id":"d1b3ffa7.eaf4d","type":"rpi-gpio in","z":"d08c4caa.f34ac","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":50,"y":300,"wires":[["5af88cb5.44f514"]]},{"id":"5af88cb5.44f514","type":"function","z":"d08c4caa.f34ac","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["15ca4232.b9527e"]]},{"id":"ffd4632b.5ede6","type":"function","z":"d08c4caa.f34ac","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["5b7460ce.9d281","15ca4232.b9527e"]]},{"id":"5b7460ce.9d281","type":"http response","z":"d08c4caa.f34ac","name":"","statusCode":"","headers":{},"x":410,"y":80,"wires":[]},{"id":"15ca4232.b9527e","type":"debug","z":"d08c4caa.f34ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":200,"wires":[]}]