led.json
[{"id":"35a3d498.59eb5c","type":"tab","label":"led","disabled":false,"info":""},{"id":"b501f206.087a6","type":"inject","z":"35a3d498.59eb5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":120,"wires":[["962db66.a666e48"]]},{"id":"962db66.a666e48","type":"function","z":"35a3d498.59eb5c","name":"Payload","func":"msg.headers={\n    deviceKey:\"65vhzWx7RfH1IGi7\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["7a36950b.c8f4dc"]]},{"id":"7a36950b.c8f4dc","type":"http request","z":"35a3d498.59eb5c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Do6az9aA/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":640,"y":120,"wires":[["11f4127d.8c55ae","e2cb373d.636ca8"]]},{"id":"11f4127d.8c55ae","type":"http response","z":"35a3d498.59eb5c","name":"","statusCode":"","headers":{},"x":790,"y":120,"wires":[]},{"id":"e2cb373d.636ca8","type":"debug","z":"35a3d498.59eb5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":260,"wires":[]}]