MQTT2.json
[{"id":"4bf73028.c389","type":"tab","label":"MQTT2","disabled":false,"info":""},{"id":"a55ab664.577a48","type":"csv","z":"4bf73028.c389","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":150,"y":180,"wires":[["2e807d34.6f5602"]]},{"id":"2e807d34.6f5602","type":"change","z":"4bf73028.c389","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":280,"wires":[["1d23569c.a0d879"]]},{"id":"1d23569c.a0d879","type":"ui_gauge","z":"4bf73028.c389","name":"","group":"fe5967c2.c074d8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":280,"wires":[]},{"id":"7669a02b.f5283","type":"mqtt in","z":"4bf73028.c389","name":"","topic":"mcs/Do6az9aA/65vhzWx7RfH1IGi7/+","qos":"2","datatype":"auto","broker":"6ec27b.04741d84","x":170,"y":80,"wires":[["a55ab664.577a48"]]},{"id":"fe5967c2.c074d8","type":"ui_group","z":"","name":"Status","tab":"e00c56f7.ac4ad8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ec27b.04741d84","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e00c56f7.ac4ad8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]