MQTT.json
[{"id":"2c02f0b1.5b5e5","type":"tab","label":"MQTT1","disabled":false,"info":""},{"id":"e04a983c.ed7778","type":"mqtt out","z":"2c02f0b1.5b5e5","name":"","topic":"mcs/Do6az9aA/65vhzWx7RfH1IGi7/temperature","qos":"2","retain":"","broker":"6ec27b.04741d84","x":610,"y":180,"wires":[]},{"id":"c5f611fe.cd82f","type":"inject","z":"2c02f0b1.5b5e5","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["e04a983c.ed7778"]]},{"id":"4d28f6a5.0a5888","type":"inject","z":"2c02f0b1.5b5e5","name":"","topic":"","payload":",,30.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["e04a983c.ed7778"]]},{"id":"6ec27b.04741d84","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]