temperature.json
[{"id":"919e8ace.ed6fc8","type":"tab","label":"temperature","disabled":false,"info":""},{"id":"cfa3afa0.3be8b","type":"inject","z":"919e8ace.ed6fc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":220,"wires":[[]]},{"id":"6bd06e6c.6ef7e","type":"function","z":"919e8ace.ed6fc8","name":"payload","func":"msg.headers={\n    deviceKey:\"65vhzWx7RfH1IGi7\"\n};\n\nmsg.payload=\"temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["a5174603.249488"]]},{"id":"a5174603.249488","type":"http request","z":"919e8ace.ed6fc8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Do6az9aA/datapoints.csv","tls":"","proxy":"","authType":"","x":460,"y":220,"wires":[["a0445edd.65df9","7b58206.c57b2e"]]},{"id":"a0445edd.65df9","type":"debug","z":"919e8ace.ed6fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":320,"wires":[]},{"id":"7b58206.c57b2e","type":"http response","z":"919e8ace.ed6fc8","name":"","statusCode":"","headers":{},"x":630,"y":200,"wires":[]}]